# How I created the CSV for the Paper

I used the automate notebook to get Paper_Data_avg_cases_with_New_York_City.csv, then I used this notebook to add the county population data

# Add Population to CSV with New York City

According to the website below:
"In some instances, we report data from multiple counties or other non-county geographies as a single county. For instance, we report a single value for New York City, comprising the cases for New York, Kings, Queens, Bronx and Richmond Counties."

https://github.com/nytimes/covid-19-data

This new CSV has New York City county

In [1]:
#below are the packages I will be using
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, date

In [9]:
#The only requirement is that the CSV file and this notebook are in the same location 
fileName = 'Paper_Data_avg_cases_with_New_York_City.csv'
dataset = pd.read_csv(fileName)
dataset

               date   fips    state   county  cases  vaccinations  population
0        2020-03-24   1001  Alabama  Autauga   0.14             0           0
1        2020-03-25   1001  Alabama  Autauga   0.57             0           0
2        2020-03-26   1001  Alabama  Autauga   0.86             0           0
3        2020-03-27   1001  Alabama  Autauga   0.86             0           0
4        2020-03-28   1001  Alabama  Autauga   0.86             0           0
...             ...    ...      ...      ...    ...           ...         ...
1185483  2021-04-11  56045  Wyoming   Weston   0.75          1379           0
1185484  2021-04-12  56045  Wyoming   Weston   0.86          1379           0
1185485  2021-04-13  56045  Wyoming   Weston   0.88          1380           0
1185486  2021-04-14  56045  Wyoming   Weston   1.00          1392           0
1185487  2021-04-15  56045  Wyoming   Weston   1.00          1392           0

[1185488 rows x 7 columns]

In [10]:
paper_dates = dataset["date"]
result1 = (paper_dates.drop_duplicates()).to_list()
print(min(result1), max(result1))

2020-01-21 2021-04-15

## Add population data

In [14]:
fileName3 = 'covid_county_population_usafacts.csv'
dataset3 = pd.read_csv(fileName3)
dataset3

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [34]:
dataset3[dataset3['countyFIPS'] == 36998]

Empty DataFrame
Columns: [countyFIPS, County Name, State, population]
Index: []

In [35]:
test1 = dataset["fips"]
result1 = (test1.drop_duplicates()).to_list()
len(result1)

3133

In [36]:
test2 = dataset3["countyFIPS"]
result2 = (test2.drop_duplicates()).to_list()
len(result2)

3145

In [37]:
#below I find what FIPS we have population data for but we do not need and remove the population value
unwanted_fips = list(set(result2) - set(result1))
unwanted_fips

[0,
 36005,
 15005,
 2282,
 2060,
 36047,
 6000,
 36081,
 2164,
 36085,
 2105,
 36061,
 2270]

In [38]:
population_df = (dataset3[~dataset3['countyFIPS'].isin(unwanted_fips)]).reset_index(drop=True)
population_df

      countyFIPS        County Name State  population
0           1001     Autauga County    AL       55869
1           1003     Baldwin County    AL      223234
2           1005     Barbour County    AL       24686
3           1007        Bibb County    AL       22394
4           1009      Blount County    AL       57826
...          ...                ...   ...         ...
3127       56037  Sweetwater County    WY       42343
3128       56039       Teton County    WY       23464
3129       56041       Uinta County    WY       20226
3130       56043    Washakie County    WY        7805
3131       56045      Weston County    WY        6927

[3132 rows x 4 columns]

In [61]:
dataset3[dataset3['countyFIPS'].isin(New_York_City_counties)]

      countyFIPS      County Name State  population
1865       36005     Bronx County    NY     1418207
1886       36047     Kings County    NY     2559903
1893       36061  New York County    NY     1628706
1903       36081    Queens County    NY     2253858
1905       36085  Richmond County    NY      476143

In [44]:
#below I set the population of New York City County to the sum of New York, Kings, Queens, Bronx and Richmond Counties
New_York_City_counties = [36005, 36047, 36061, 36081, 36085]
temp_NY_populations = dataset3[dataset3['countyFIPS'].isin(New_York_City_counties)]
New_York_City_population = temp_NY_populations['population'].sum()
temp_NY_df = {'countyFIPS': 36998, 'County Name': 'New York City', 'State': 'NY', 'population':New_York_City_population}
population_df = population_df.append(temp_NY_df, ignore_index = True)
population_df

      countyFIPS      County Name State  population
0           1001   Autauga County    AL       55869
1           1003   Baldwin County    AL      223234
2           1005   Barbour County    AL       24686
3           1007      Bibb County    AL       22394
4           1009    Blount County    AL       57826
...          ...              ...   ...         ...
3128       56039     Teton County    WY       23464
3129       56041     Uinta County    WY       20226
3130       56043  Washakie County    WY        7805
3131       56045    Weston County    WY        6927
3132       36998    New York City    NY     8336817

[3133 rows x 4 columns]

In [45]:
fips_populations = list(zip(population_df.countyFIPS, population_df.population))
fips_populations

[(1001, 55869),
 (1003, 223234),
 (1005, 24686),
 (1007, 22394),
 (1009, 57826),
 (1011, 10101),
 (1013, 19448),
 (1015, 113605),
 (1017, 33254),
 (1019, 26196),
 (1021, 44428),
 (1023, 12589),
 (1025, 23622),
 (1027, 13235),
 (1029, 14910),
 (1031, 52342),
 (1033, 55241),
 (1035, 12067),
 (1037, 10663),
 (1039, 37049),
 (1041, 13772),
 (1043, 83768),
 (1045, 49172),
 (1047, 37196),
 (1049, 71513),
 (1051, 81209),
 (1053, 36633),
 (1055, 102268),
 (1057, 16302),
 (1059, 31362),
 (1061, 26271),
 (1063, 8111),
 (1065, 14651),
 (1067, 17205),
 (1069, 105882),
 (1071, 51626),
 (1073, 658573),
 (1075, 13805),
 (1077, 92729),
 (1079, 32924),
 (1081, 164542),
 (1083, 98915),
 (1085, 9726),
 (1087, 18068),
 (1089, 372909),
 (1091, 18863),
 (1093, 29709),
 (1095, 96774),
 (1097, 413210),
 (1099, 20733),
 (1101, 226486),
 (1103, 119679),
 (1105, 8923),
 (1107, 19930),
 (1109, 33114),
 (1111, 22722),
 (1113, 57961),
 (1115, 89512),
 (1117, 217702),
 (1119, 12427),
 (1121, 79978),
 (1123, 40367),
 (1125, 209355),
 (1127, 63521),
 (1129, 16326),
 (1131, 10373),
 (1133, 23629),
 (2013, 3337),
 (2016, 5634),
 (2020, 288000),
 (2050, 18386),
 (2068, 2097),
 (2070, 4916),
 (2090, 96849),
 (2100, 2530),
 (2110, 31974),
 (2122, 58708),
 (2130, 13901),
 (2150, 12998),
 (2158, 8314),
 (2170, 108317),
 (2180, 10004),
 (2185, 9832),
 (2188, 7621),
 (2195, 3266),
 (2198, 6203),
 (2220, 8493),
 (2230, 1183),
 (2240, 6893),
 (2261, 9202),
 (2275, 2502),
 (2290, 5230),
 (4001, 71887),
 (4003, 125922),
 (4005, 143476),
 (4007, 54018),
 (4009, 38837),
 (4011, 9498),
 (4012, 21108),
 (4013, 4485414),
 (4015, 212181),
 (4017, 110924),
 (4019, 1047279),
 (4021, 462789),
 (4023, 46498),
 (4025, 235099),
 (4027, 213787),
 (5001, 17486),
 (5003, 19657),
 (5005, 41932),
 (5007, 279141),
 (5009, 37432),
 (5011, 10763),
 (5013, 5189),
 (5015, 28380),
 (5017, 10118),
 (5019, 22320),
 (5021, 14551),
 (5023, 24919),
 (5025, 7956),
 (5027, 23457),
 (5029, 20846),
 (5031, 110332),
 (5033, 63257),
 (5035, 47955),
 (5037, 16419),
 (5039, 7009),
 (5041, 11361),
 (5043, 18219),
 (5045, 126007),
 (5047, 17715),
 (5049, 12477),
 (5051, 99386),
 (5053, 18265),
 (5055, 45325),
 (5057, 21532),
 (5059, 33771),
 (5061, 13202),
 (5063, 37825),
 (5065, 13629),
 (5067, 16719),
 (5069, 66824),
 (5071, 26578),
 (5073, 6624),
 (5075, 16406),
 (5077, 8857),
 (5079, 13024),
 (5081, 12259),
 (5083, 21466),
 (5085, 73309),
 (5087, 16576),
 (5089, 16694),
 (5091, 43257),
 (5093, 40651),
 (5095, 6701),
 (5097, 8986),
 (5099, 8252),
 (5101, 7753),
 (5103, 23382),
 (5105, 10455),
 (5107, 17782),
 (5109, 10718),
 (5111, 23528),
 (5113, 19964),
 (5115, 64072),
 (5117, 8062),
 (5119, 391911),
 (5121, 17958),
 (5123, 24994),
 (5125, 122437),
 (5127, 10281),
 (5129, 7881),
 (5131, 127827),
 (5133, 17007),
 (5135, 17442),
 (5137, 12506),
 (5139, 38682),
 (5141, 16545),
 (5143, 239187),
 (5145, 78753),
 (5147, 6320),
 (5149, 21341),
 (6001, 1671329),
 (6003, 1129),
 (6005, 39752),
 (6007, 219186),
 (6009, 45905),
 (6011, 21547),
 (6013, 1153526),
 (6015, 27812),
 (6017, 192843),
 (6019, 999101),
 (6021, 28393),
 (6023, 135558),
 (6025, 181215),
 (6027, 18039),
 (6029, 900202),
 (6031, 152940),
 (6033, 64386),
 (6035, 30573),
 (6037, 10039107),
 (6039, 157327),
 (6041, 258826),
 (6043, 17203),
 (6045, 86749),
 (6047, 277680),
 (6049, 8841),
 (6051, 14444),
 (6053, 434061),
 (6055, 137744),
 (6057, 99755),
 (6059, 3175692),
 (6061, 398329),
 (6063, 18807),
 (6065, 2470546),
 (6067, 1552058),
 (6069, 62808),
 (6071, 2180085),
 (6073, 3338330),
 (6075, 881549),
 (6077, 762148),
 (6079, 283111),
 (6081, 766573),
 (6083, 446499),
 (6085, 1927852),
 (6087, 273213),
 (6089, 180080),
 (6091, 3005),
 (6093, 43539),
 (6095, 447643),
 (6097, 494336),
 (6099, 550660),
 (6101, 96971),
 (6103, 65084),
 (6105, 12285),
 (6107, 466195),
 (6109, 54478),
 (6111, 846006),
 (6113, 220500),
 (6115, 78668),
 (8001, 517421),
 (8003, 16233),
 (8005, 656590),
 (8007, 14029),
 (8009, 3581),
 (8011, 5577),
 (8013, 326196),
 (8014, 70465),
 (8015, 20356),
 (8017, 1831),
 (8019, 9700),
 (8021, 8205),
 (8023, 3887),
 (8025, 6061),
 (8027, 5068),
 (8029, 31162),
 (8031, 727211),
 (8033, 2055),
 (8035, 351154),
 (8037, 55127),
 (8039, 26729),
 (8041, 720403),
 (8043, 47839),
 (8045, 60061),
 (8047, 6243),
 (8049, 15734),
 (8051, 17462),
 (8053, 820),
 (8055, 6897),
 (8057, 1392),
 (8059, 582881),
 (8061, 1406),
 (8063, 7097),
 (8065, 8127),
 (8067, 56221),
 (8069, 356899),
 (8071, 14506),
 (8073, 5701),
 (8075, 22409),
 (8077, 154210),
 (8079, 769),
 (8081, 13283),
 (8083, 26183),
 (8085, 42758),
 (8087, 29068),
 (8089, 18278),
 (8091, 4952),
 (8093, 18845),
 (8095, 4265),
 (8097, 17767),
 (8099, 12172),
 (8101, 168424),
 (8103, 6324),
 (8105, 11267),
 (8107, 25638),
 (8109, 6824),
 (8111, 728),
 (8113, 8179),
 (8115, 2248),
 (8117, 31011),
 (8119, 25388),
 (8121, 4908),
 (8123, 324492),
 (8125, 10019),
 (9001, 943332),
 (9003, 891720),
 (9005, 180333),
 (9007, 162436),
 (9009, 854757),
 (9011, 265206),
 (9013, 150721),
 (9015, 116782),
 (10001, 180786),
 (10003, 558753),
 (10005, 234225),
 (11001, 705749),
 (12001, 269043),
 (12003, 29210),
 (12005, 174705),
 (12007, 28201),
 (12009, 601942),
 (12011, 1952778),
 (12013, 14105),
 (12015, 188910),
 (12017, 149657),
 (12019, 219252),
 (12021, 384902),
 (12023, 71686),
 (12027, 38001),
 (12029, 16826),
 (12031, 957755),
 (12033, 318316),
 (12035, 115081),
 (12037, 12125),
 (12039, 45660),
 (12041, 18582),
 (12043, 13811),
 (12045, 13639),
 (12047, 14428),
 (12049, 26937),
 (12051, 42022),
 (12053, 193920),
 (12055, 106221),
 (12057, 1471968),
 (12059, 19617),
 (12061, 159923),
 (12063, 46414),
 (12065, 14246),
 (12067, 8422),
 (12069, 367118),
 (12071, 770577),
 (12073, 293582),
 (12075, 41503),
 (12077, 8354),
 (12079, 18493),
 (12081, 403253),
 (12083, 365579),
 (12085, 161000),
 (12086, 2716940),
 (12087, 74228),
 (12089, 88625),
 (12091, 210738),
 (12093, 42168),
 (12095, 1393452),
 (12097, 375751),
 (12099, 1496770),
 (12101, 553947),
 (12103, 974996),
 (12105, 724777),
 (12107, 74521),
 (12109, 264672),
 (12111, 328297),
 (12113, 184313),
 (12115, 433742),
 (12117, 471826),
 (12119, 132420),
 (12121, 44417),
 (12123, 21569),
 (12125, 15237),
 (12127, 553284),
 (12129, 33739),
 (12131, 74071),
 (12133, 25473),
 (13001, 18386),
 (13003, 8165),
 (13005, 11164),
 (13007, 3038),
 (13009, 44890),
 (13011, 19234),
 (13013, 83240),
 (13015, 107738),
 (13017, 16700),
 (13019, 19397),
 (13021, 153159),
 (13023, 12873),
 (13025, 19109),
 (13027, 15457),
 (13029, 39627),
 (13031, 79608),
 (13033, 22383),
 (13035, 24936),
 (13037, 6189),
 (13039, 54666),
 (13043, 10803),
 (13045, 119992),
 (13047, 67580),
 (13049, 13392),
 (13051, 289430),
 (13053, 10907),
 (13055, 24789),
 (13057, 258773),
 (13059, 128331),
 (13061, 2834),
 (13063, 292256),
 (13065, 6618),
 (13067, 760141),
 (13069, 43273),
 (13071, 45600),
 (13073, 156714),
 (13075, 17270),
 (13077, 148509),
 (13079, 12404),
 (13081, 22372),
 (13083, 16116),
 (13085, 26108),
 (13087, 26404),
 (13089, 759297),
 (13091, 20605),
 (13093, 13390),
 (13095, 87956),
 (13097, 146343),
 (13099, 10190),
 (13101, 4006),
 (13103, 64296),
 (13105, 19194),
 (13107, 22646),
 (13109, 10654),
 (13111, 26188),
 (13113, 114421),
 (13115, 98498),
 (13117, 244252),
 (13119, 23349),
 (13121, 1063937),
 (13123, 31369),
 (13125, 2971),
 (13127, 85292),
 (13129, 57963),
 (13131, 24633),
 (13133, 18324),
 (13135, 936250),
 (13137, 45328),
 (13139, 204441),
 (13141, 8457),
 (13143, 29792),
 (13145, 35236),
 (13147, 26205),
 (13149, 11923),
 (13151, 234561),
 (13153, 157863),
 (13155, 9416),
 (13157, 72977),
 (13159, 14219),
 (13161, 15115),
 (13163, 15362),
 (13165, 8676),
 (13167, 9643),
 (13169, 28735),
 (13171, 19077),
 (13173, 10423),
 (13175, 47546),
 (13177, 29992),
 (13179, 61435),
 (13181, 7921),
 (13183, 19559),
 (13185, 117406),
 (13187, 33610),
 (13189, 21312),
 (13191, 14378),
 (13193, 12947),
 (13195, 29880),
 (13197, 8359),
 (13199, 21167),
 (13201, 5718),
 (13205, 21863),
 (13207, 27578),
 (13209, 9172),
 (13211, 19276),
 (13213, 40096),
 (13215, 195769),
 (13217, 111744),
 (13219, 40280),
 (13221, 15259),
 (13223, 168667),
 (13225, 27546),
 (13227, 32591),
 (13229, 19465),
 (13231, 18962),
 (13233, 42613),
 (13235, 11137),
 (13237, 22119),
 (13239, 2299),
 (13241, 17137),
 (13243, 6778),
 (13245, 202518),
 (13247, 90896),
 (13249, 5257),
 (13251, 13966),
 (13253, 8090),
 (13255, 66703),
 (13257, 25925),
 (13259, 6621),
 (13261, 29524),
 (13263, 6195),
 (13265, 1537),
 (13267, 25286),
 (13269, 8020),
 (13271, 15860),
 (13273, 8531),
 (13275, 44451),
 (13277, 40644),
 (13279, 26830),
 (13281, 12037),
 (13283, 6901),
 (13285, 69922),
 (13287, 7985),
 (13289, 8120),
 (13291, 24511),
 (13293, 26320),
 (13295, 69761),
 (13297, 94593),
 (13299, 35734),
 (13301, 5254),
 (13303, 20374),
 (13305, 29927),
 (13307, 2607),
 (13309, 7855),
 (13311, 30798),
 (13313, 104628),
 (13315, 8635),
 (13317, 9777),
 (13319, 8954),
 (13321, 20247),
 (15001, 201513),
 (15003, 974563),
 (15007, 72293),
 (15009, 167417),
 (16001, 481587),
 (16003, 4294),
 (16005, 87808),
 (16007, 6125),
 (16009, 9298),
 (16011, 46811),
 (16013, 23021),
 (16015, 7831),
 (16017, 45739),
 (16019, 119062),
 (16021, 12245),
 (16023, 2597),
 (16025, 1106),
 (16027, 229849),
 (16029, 7155),
 (16031, 24030),
 (16033, 845),
 (16035, 8756),
 (16037, 4315),
 (16039, 27511),
 (16041, 13876),
 (16043, 13099),
 (16045, 18112),
 (16047, 15179),
 (16049, 16667),
 (16051, 29871),
 (16053, 24412),
 (16055, 165697),
 (16057, 40108),
 (16059, 8027),
 (16061, 3838),
 (16063, 5366),
 (16065, 39907),
 (16067, 21039),
 (16069, 40408),
 (16071, 4531),
 (16073, 11823),
 (16075, 23951),
 (16077, 7681),
 (16079, 12882),
 (16081, 12142),
 (16083, 86878),
 (16085, 11392),
 (16087, 10194),
 (17001, 65435),
 (17003, 5761),
 (17005, 16426),
 (17007, 53544),
 (17009, 6578),
 (17011, 32628),
 (17013, 4739),
 (17015, 14305),
 (17017, 12147),
 (17019, 209689),
 (17021, 32304),
 (17023, 15441),
 (17025, 13184),
 (17027, 37562),
 (17029, 50621),
 (17031, 5150233),
 (17033, 18667),
 (17035, 10766),
 (17037, 104897),
 (17039, 15638),
 (17041, 19465),
 (17043, 922921),
 (17045, 17161),
 (17047, 6395),
 (17049, 34008),
 (17051, 21336),
 (17053, 12961),
 (17055, 38469),
 (17057, 34340),
 (17059, 4828),
 (17061, 12969),
 (17063, 51054),
 (17065, 8116),
 (17067, 17708),
 (17069, 3821),
 (17071, 6646),
 (17073, 48913),
 (17075, 27114),
 (17077, 56750),
 (17079, 9610),
 (17081, 37684),
 (17083, 21773),
 (17085, 21235),
 (17087, 12417),
 (17089, 532403),
 (17091, 109862),
 (17093, 128990),
 (17095, 49699),
 (17097, 696535),
 (17099, 108669),
 (17101, 15678),
 (17103, 34096),
 (17105, 35648),
 (17107, 28618),
 (17109, 29682),
 (17111, 307774),
 (17113, 171517),
 (17115, 104009),
 (17117, 44926),
 (17119, 262966),
 (17121, 37205),
 (17123, 11438),
 (17125, 13359),
 (17127, 13772),
 (17129, 12196),
 (17131, 15437),
 (17133, 34637),
 (17135, 28414),
 (17137, 33658),
 (17139, 14501),
 (17141, 50643),
 (17143, 179179),
 (17145, 20916),
 (17147, 16344),
 (17149, 15561),
 (17151, 4177),
 (17153, 5335),
 (17155, 5739),
 (17157, 31782),
 (17159, 15513),
 (17161, 141879),
 (17163, 259686),
 (17165, 23491),
 (17167, 194672),
 (17169, 6768),
 (17171, 4951),
 (17173, 21634),
 (17175, 5342),
 (17177, 44498),
 (17179, 131803),
 (17181, 16653),
 (17183, 75758),
 (17185, 11520),
 (17187, 16844),
 (17189, 13887),
 (17191, 16215),
 (17193, 13537),
 (17195, 55175),
 (17197, 690743),
 (17199, 66597),
 (17201, 282572),
 (17203, 38459),
 (18001, 35777),
 (18003, 379299),
 (18005, 83779),
 (18007, 8748),
 (18009, 11758),
 (18011, 67843),
 (18013, 15092),
 (18015, 20257),
 (18017, 37689),
 (18019, 118302),
 (18021, 26225),
 (18023, 32399),
 (18025, 10577),
 (18027, 33351),
 (18029, 49458),
 (18031, 26559),
 (18033, 43475),
 (18035, 114135),
 (18037, 42736),
 (18039, 206341),
 (18041, 23102),
 (18043, 78522),
 (18045, 16346),
 (18047, 22758),
 (18049, 19974),
 (18051, 33659),
 (18053, 65769),
 (18055, 31922),
 (18057, 338011),
 (18059, 78168),
 (18061, 40515),
 (18063, 170311),
 (18065, 47972),
 (18067, 82544),
 (18069, 36520),
 (18071, 44231),
 (18073, 33562),
 (18075, 20436),
 (18077, 32308),
 (18079, 27735),
 (18081, 158167),
 (18083, 36594),
 (18085, 79456),
 (18087, 39614),
 (18089, 485493),
 (18091, 109888),
 (18093, 45370),
 (18095, 129569),
 (18097, 964582),
 (18099, 46258),
 (18101, 10255),
 (18103, 35516),
 (18105, 148431),
 (18107, 38338),
 (18109, 70489),
 (18111, 13984),
 (18113, 47744),
 (18115, 5875),
 (18117, 19646),
 (18119, 20799),
 (18121, 16937),
 (18123, 19169),
 (18125, 12389),
 (18127, 170389),
 (18129, 25427),
 (18131, 12353),
 (18133, 37576),
 (18135, 24665),
 (18137, 28324),
 (18139, 16581),
 (18141, 271826),
 (18143, 23873),
 (18145, 44729),
 (18147, 20277),
 (18149, 22995),
 (18151, 34594),
 (18153, 20669),
 (18155, 10751),
 (18157, 195732),
 (18159, 15148),
 (18161, 7054),
 (18163, 181451),
 (18165, 15498),
 (18167, 107038),
 (18169, 30996),
 (18171, 8265),
 (18173, 62998),
 (18175, 28036),
 (18177, 65884),
 (18179, 28296),
 (18181, 24102),
 (18183, 33964),
 (19001, 7152),
 (19003, 3602),
 (19005, 13687),
 (19007, 12426),
 (19009, 5496),
 (19011, 25645),
 (19013, 131228),
 (19015, 26234),
 (19017, 25062),
 (19019, 21175),
 (19021, 19620),
 (19023, 14439),
 (19025, 9668),
 (19027, 20165),
 (19029, 12836),
 (19031, 18627),
 (19033, 42450),
 (19035, 11235),
 (19037, 11933),
 (19039, 9395),
 (19041, 16016),
 (19043, 17549),
 (19045, 46429),
 (19047, 16820),
 (19049, 93453),
 (19051, 9000),
 (19053, 7870),
 (19055, 17011),
 (19057, 38967),
 (19059, 17258),
 (19061, 97311),
 (19063, 9208),
 (19065, 19650),
 (19067, 15642),
 (19069, 10070),
 (19071, 6960),
 (19073, 8888),
 (19075, 12232),
 (19077, 10689),
 (19079, 14773),
 (19081, 10630),
 (19083, 16846),
 (19085, 14049),
 (19087, 19954),
 (19089, 9158),
 (19091, 9558),
 (19093, 6860),
 (19095, 16184),
 (19097, 19439),
 (19099, 37185),
 (19101, 18295),
 (19103, 151140),
 (19105, 20681),
 (19107, 10246),
 (19109, 14813),
 (19111, 33657),
 (19113, 226706),
 (19115, 11035),
 (19117, 8600),
 (19119, 11755),
 (19121, 16338),
 (19123, 22095),
 (19125, 33253),
 (19127, 39369),
 (19129, 15109),
 (19131, 10586),
 (19133, 8615),
 (19135, 7707),
 (19137, 9917),
 (19139, 42664),
 (19141, 13753),
 (19143, 5958),
 (19145, 15107),
 (19147, 8886),
 (19149, 25177),
 (19151, 6619),
 (19153, 490161),
 (19155, 93206),
 (19157, 18504),
 (19159, 4894),
 (19161, 9721),
 (19163, 172943),
 (19165, 11454),
 (19167, 34855),
 (19169, 97117),
 (19171, 16854),
 (19173, 6121),
 (19175, 12241),
 (19177, 7044),
 (19179, 34969),
 (19181, 51466),
 (19183, 21965),
 (19185, 6441),
 (19187, 35904),
 (19189, 10354),
 (19191, 19991),
 (19193, 103107),
 (19195, 7381),
 (19197, 12562),
 (20001, 12369),
 (20003, 7858),
 (20005, 16073),
 (20007, 4427),
 (20009, 25779),
 (20011, 14534),
 (20013, 9564),
 (20015, 66911),
 (20017, 2648),
 (20019, 3250),
 (20021, 19939),
 (20023, 2657),
 (20025, 1994),
 (20027, 8002),
 (20029, 8786),
 (20031, 8179),
 (20033, 1700),
 (20035, 34908),
 (20037, 38818),
 (20039, 2827),
 (20041, 18466),
 (20043, 7600),
 (20045, 122259),
 (20047, 2798),
 (20049, 2530),
 (20051, 28553),
 (20053, 6102),
 (20055, 36467),
 (20057, 33619),
 (20059, 25544),
 (20061, 31670),
 (20063, 2636),
 (20065, 2482),
 (20067, 7150),
 (20069, 5988),
 (20071, 1232),
 (20073, 5982),
 (20075, 2539),
 (20077, 5436),
 (20079, 34429),
 (20081, 3968),
 (20083, 1794),
 (20085, 13171),
 (20087, 19043),
 (20089, 2879),
 (20091, 602401),
 (20093, 3838),
 (20095, 7152),
 (20097, 2475),
 (20099, 19618),
 (20101, 1535),
 (20103, 81758),
 (20105, 2962),
 (20107, 9703),
 (20109, 2794),
 (20111, 33195),
 (20113, 28542),
 (20115, 11884),
 (20117, 9707),
 (20119, 4033),
 (20121, 34237),
 (20123, 5979),
 (20125, 31829),
 (20127, 5620),
 (20129, 2587),
 (20131, 10231),
 (20133, 16007),
 (20135, 2750),
 (20137, 5361),
 (20139, 15949),
 (20141, 3421),
 (20143, 5704),
 (20145, 6414),
 (20147, 5234),
 (20149, 24383),
 (20151, 9164),
 (20153, 2530),
 (20155, 61998),
 (20157, 4636),
 (20159, 9537),
 (20161, 74232),
 (20163, 4920),
 (20165, 3036),
 (20167, 6856),
 (20169, 54224),
 (20171, 4823),
 (20173, 516042),
 (20175, 21428),
 (20177, 176875),
 (20179, 2521),
 (20181, 5917),
 (20183, 3583),
 (20185, 4156),
 (20187, 2006),
 (20189, 5485),
 (20191, 22836),
 (20193, 7777),
 (20195, 2803),
 (20197, 6931),
 (20199, 1518),
 (20201, 5406),
 (20203, 2119),
 (20205, 8525),
 (20207, 3138),
 (20209, 165429),
 (21001, 19202),
 (21003, 21315),
 (21005, 22747),
 (21007, 7888),
 (21009, 44249),
 (21011, 12500),
 (21013, 26032),
 (21015, 133581),
 (21017, 19788),
 (21019, 46718),
 (21021, 30060),
 (21023, 8303),
 ...]

In [48]:
paper_df = dataset
paper_df

               date   fips    state   county  cases  vaccinations  population
0        2020-03-24   1001  Alabama  Autauga   0.14             0           0
1        2020-03-25   1001  Alabama  Autauga   0.57             0           0
2        2020-03-26   1001  Alabama  Autauga   0.86             0           0
3        2020-03-27   1001  Alabama  Autauga   0.86             0           0
4        2020-03-28   1001  Alabama  Autauga   0.86             0           0
...             ...    ...      ...      ...    ...           ...         ...
1185483  2021-04-11  56045  Wyoming   Weston   0.75          1379           0
1185484  2021-04-12  56045  Wyoming   Weston   0.86          1379           0
1185485  2021-04-13  56045  Wyoming   Weston   0.88          1380           0
1185486  2021-04-14  56045  Wyoming   Weston   1.00          1392           0
1185487  2021-04-15  56045  Wyoming   Weston   1.00          1392           0

[1185488 rows x 7 columns]

In [49]:
#Note: this block of code takes a few minutes to complete as there are a total of 3133 counties
for fips, population in fips_populations:
    #print(fips, population)
    paper_df.loc[paper_df['fips'] == fips, 'population'] = population
    #paper_df['population'] = np.where((paper_df.fips == fips), population, 0)

In [50]:
paper_dates2 = paper_df["date"]
result2 = (paper_dates2.drop_duplicates()).to_list()
print(min(result2), max(result2))

2020-01-21 2021-04-15

In [55]:
paper_fips = paper_df["fips"]
result3 = (paper_fips.drop_duplicates()).to_list()
print(len(result3))

3133

In [56]:
paper_df

               date   fips    state   county  cases  vaccinations  population
0        2020-03-24   1001  Alabama  Autauga   0.14             0       55869
1        2020-03-25   1001  Alabama  Autauga   0.57             0       55869
2        2020-03-26   1001  Alabama  Autauga   0.86             0       55869
3        2020-03-27   1001  Alabama  Autauga   0.86             0       55869
4        2020-03-28   1001  Alabama  Autauga   0.86             0       55869
...             ...    ...      ...      ...    ...           ...         ...
1185483  2021-04-11  56045  Wyoming   Weston   0.75          1379        6927
1185484  2021-04-12  56045  Wyoming   Weston   0.86          1379        6927
1185485  2021-04-13  56045  Wyoming   Weston   0.88          1380        6927
1185486  2021-04-14  56045  Wyoming   Weston   1.00          1392        6927
1185487  2021-04-15  56045  Wyoming   Weston   1.00          1392        6927

[1185488 rows x 7 columns]

In [57]:
#paper_df.to_csv('Final_Paper_Data.csv', index=False)
paper_df.to_csv('Final_Paper_Data_avg_cases_with_New_York_City.csv', index=False)